.border {
  border: 1px solid #DDD;
}

.padding {
  padding: 10px;
}

code.formula {
  display: block;
  color: unset;
  padding: 10px;
}

code.formula strong {
  color: #00aff0;
}

:root {
  --sidebar-width: 25rem;
  --code-inline-background: #f8f8f8;
  --code-inline-color: #e96900;
}
